{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3"> 
          <h4>Enter your registered Email</h4>
        </div>
        <form action="{% url 'reset-password' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="xyz@gmail.com"
              id="emailField"
              value="{{fieldValues.email}}"
              class="form-control form-control-sm"
            />
          </div>
         
          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
        </form>
        <div class="container">
          <span class="text-lead lead">
            Don't have an account ? <a href="{% url 'register'%}"><small>Singup</small></a>
          </span><br>
          <span class="text-lead lead">
            know your password? <a href="{% url 'login'%}"><small>Sign in</small></a>
          </span>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}